name: CI

on: pull_request

jobs:

  testing:
    runs-on: [self-hosted, simnanodome]
    steps:
      - uses: actions/checkout@v3
      - name: unittest
        run: |
          pip install -e .
          pico install ontology.simnanofoam.yml
          cd tests
          python -m unittest -v
