name: CI

on: pull_request

jobs:

  testing:
    runs-on: [self-hosted, simnanodome]
    steps:
      - uses: actions/checkout@v3
      - name: unittest
        run: |
          mkdir -p /app/_work/SimNanoDOME/SimNanoDOME/osp/wrappers/simnanodome/nanolib
          ln -f /home/simdomeuser/build/ontodome/libontodome.so.1 /app/_work/SimNanoDOME/SimNanoDOME/osp/wrappers/simnanodome/nanolib/libontodome.so
          pip install -e .
          pico install ontology.simnanofoam.yml
          cd tests
          python -m unittest -v
